.node--location--teaser {
  .content {
    padding: 15px;
  }

  .location-teaser-image {
    img {
      width: 100%;
      @supports (object-fit: cover) {
        max-height: 200px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .open-status {
    display: flex;
    align-items: center;

    .label {
      margin: 0 5px;

      &.closed {
        @extend .label-danger;
      }

      &.open {
        @extend .label-success;
      }
    }
  }

  .field-name-field-location-building {
    margin: 5px 0px;
    .field-items {
      display: flex;
      &:before {
        @include fa(building-o);
        margin-right: 5px;
      }
    }
  }

  .field-name-field-location-telephone {
    margin: 5px 0px;
    .field-items {
      display: flex;
      &:before {
        @include fa(mobile);
        margin-right: 5px;

      }
    }
  }

  .field-name-field-location-has-meal-swipes {
    margin: 5px 0px;
    .field-items {
      display: flex;

      &:before {
        @include fa(credit-card);
        margin-right: 5px;

      }
    }
  }
}
