%large,
.large {
  font-size: 2.1rem;
}

%tab-style-sm {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: $fw-bold;
  letter-spacing: 2px;
}

%panel-title-alt {
  text-transform: uppercase;
  font-weight: $fw-bold;
  @extend .small;
}
