.header {
  margin: 0;
  padding: 2rem 0;
  position: relative;
  border-bottom: none;
  background-color: $color-tan-light;

  .header-navbar {
    @include breakpoint(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .navbar-branding {
    text-transform: uppercase;
    color: $text-color;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    .site-name {
      font-weight: $fw-black;
      font-size: 4rem;
      line-height: 0.8;
      display: block;
    }

    .site-slogan {
      font-size: 1.3rem;
      letter-spacing: 2px;
    }
  }

  .region-main-nav {
    .block__title {
      @extend .sr-only
    }
  }
}
