.taxonomy-term--allergy-and-nutrition--full {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .allergen-nutrition-indicator {
    margin-right: 0.7rem;
  }
  .field--name-field-an-label {
    font-size: 1.3rem;
  }
}
